# ignore nf files
.nextflow*
work/
data/
results/
.DS_Store

# temp, error files
*.pyc
null/

# internal files
assets/databases/*/*master*
assets/databases/*/*backup*
assets/databases/*/cached/*
test/internal/
assets/databases/outbreak/internal/
