/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ASSET_CHECK {
        publishDir = [enabled: false]
   }

    withName: BBDUK {
        ext.args = 'hdist=1 k=31'
    }

    withName: FASTQCTRIMD {
        ext.args = '--quiet'
    }

    withName: FASTP_TRIMD {
        ext.args = '--cut_right --cut_right_window_size 20 --cut_right_mean_quality 30 --length_required 50 --trim_poly_g --cut_front 20 --cut_tail 20'
    }

    withName: FASTP_SINGLES {
        ext.args = '--disable_adapter_trimming'
    }

    withName: SRST2_AR {
        ext.args = '--forward _1.trim --reverse _2.trim --save_scores --report_all_consensus > srst2.log'
        ext.errorStrategy = { "ignore" }
    }

    withName: GET_MLST_SRST2 {
        ext.args = ''
        ext.errorStrategy = { "ignore" }
    }

    withName: SRST2_MLST {
        ext.args = '--forward _1.trim --reverse _2.trim --save_scores --report_all_consensus > srst2.log'
        ext.errorStrategy = { "ignore" }
    }

    withName: CHECK_MLST {
        ext.args = ''
        ext.errorStrategy = { "ignore" }
    }

    withName: CHECK_MLST_WITH_SRST2 {
        ext.args = ''
        ext.errorStrategy = { "ignore" }
    }

    withName: BUSCO {
        ext.args = '--mode genome'
    }

}

///////////////////////////////////////
//
// Subworkflow: spades
//
///////////////////////////////////////

process {
    withName: SPADES {
        errorStrategy = "ignore"
    }


}

///////////////////////////////////////
//
// Subworkflow: kraken to krona
//
///////////////////////////////////////

process {

    withName: KRAKEN2_TRIMD {
        ext.args = '--use-names'
    }

    withName: KRAKEN2_ASMBLD {
        ext.args = '--use-names'
    }
}